<div role="status" class="w-full animate-pulse">
  <div class="flex justify-end">
    <div class="flex-row ">
      <div class="h-10 bg-slate-300 border border-slate-300 drop-shadow-sm rounded-lg dark:bg-gray-700 w-48 mb-2"></div>
      <div class="h-2 bg-slate-300 border border-slate-300 drop-shadow-sm rounded-lg dark:bg-gray-700 w-32 mb-4"></div>
    </div>
  </div>
  <div class="flex justify-start">
    <div class="flex-row ">
      <div class="h-10 bg-slate-300 border border-slate-300 drop-shadow-sm rounded-lg dark:bg-gray-700 w-48 mb-2"></div>
      <div class="h-2 bg-slate-300 border border-slate-300 drop-shadow-sm rounded-lg dark:bg-gray-700 w-32 mb-4"></div>
    </div>
  </div>
  <div class="flex justify-start">
    <div class="flex-row ">
      <div class="h-10 bg-slate-300 border border-slate-300 drop-shadow-sm rounded-lg dark:bg-gray-700 w-60 mb-2"></div>
      <div class="h-2 bg-slate-300 border border-slate-300 drop-shadow-sm rounded-lg dark:bg-gray-700 w-32 mb-4"></div>
    </div>
  </div>
  <div class="flex justify-end">
    <div class="flex-row ">
      <div class="h-20 bg-slate-300 border border-slate-300 drop-shadow-sm rounded-lg dark:bg-gray-700 w-60 mb-2"></div>
      <div class="h-2 bg-slate-300 border border-slate-300 drop-shadow-sm rounded-lg dark:bg-gray-700 w-32 mb-4"></div>
    </div>
  </div>
  <span class="sr-only">Loading...</span>
</div>